<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>footerText</key>
			<string>Benny is Daemon percess</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>Switch1</string>
			<key>key</key>
			<string>shouldHook</string>
			<key>defaults</key>
			<string>com.benny.daemonSettings</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
	</array>
	<key>entry</key>
	<dict>
		<key>cell</key>
		<string>PSLinkCell</string>
		<key>label</key>
		<string>Daemon</string>
		<key>icon</key>
		<string>favicon.ico</string>
	</dict>
</dict>
</plist>
